<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yzkx.secin.mapper.recommend.FavoriteArticleMapper" >

	<resultMap id="BaseResultMap" type="org.yzkx.secin.model.recommend.FavoriteArticle" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="article_id" property="articleId" jdbcType="INTEGER" />
		<result column="_value" property="value" jdbcType="DOUBLE" />
		<result column="is_delete" property="isDelete" jdbcType="BOOLEAN" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="BaseColumnList" >
		id, user_id, article_id, _value, is_delete, created_at, updated_at
	</sql>
	
</mapper>
