<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yzkx.secin.mapper.recommend.UserSearchMapper" >

	<resultMap id="BaseResultMap" type="org.yzkx.secin.model.recommend.UserSearch" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="keyword" property="keyword" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="BaseColumnList" >
		id, user_id, keyword, created_at, updated_at
	</sql>
	
	<insert id="add" parameterType="org.yzkx.secin.model.recommend.UserSearch" useGeneratedKeys="true" keyProperty="id">
		insert into user_search (
			user_id, keyword, created_at, updated_at
		) values (
			#{userId}, #{keyword}, sysdate(), sysdate()
		)
	</insert>
	
	<update id="update" parameterType="org.yzkx.secin.model.recommend.UserSearch">
		update
			user_search
		set
			updated_at = sysdate()
		where
			user_id = #{userId}
			and keyword = #{keyword}
	</update>
	
	<select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			<include refid="BaseColumnList" />
		from
			user_search
		where
			user_id = #{userId}
			and keyword = #{keyword}
		limit 1
	</select>
	
	<select id="selectHistory" resultType="java.lang.String" parameterType="java.util.Map">
		select
			keyword
		from
			user_search
		where
			user_id = #{userId}
		order by updated_at desc
		<if test="from != null and pageSize != null">
			limit #{from}, #{pageSize}
		</if>
	</select>
	
	<select id="countHistory" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
			count(*)
		from
			user_search
		where
			user_id = #{userId}
	</select>

</mapper>
